body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.first {
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 41px 12px 140px 12px;
}

#profile-picture {
  width: 156px;
  height: 156px;
  border-radius: 16px;
  overflow: hidden;
  flex-shrink: 0;
}

#prof {
  width: 100%;
  height: 100%;
}

#name {
  color: #4E5150;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
  text-align: center;
}

#location {
  color: #A9A9A9;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
  text-align: center;
}

#follow {
  display: flex;
  font-size: 20px;
  gap: 24px;
}

#follow .row-items {
  width: 100px;
  height: 67px;
  text-align: center;
  background-color: #E5E5E5;
  border-radius: 12px;
}

.number1 {
  color: #4E5150;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 14px;
}

.followers {
  color: var(--Gray-4, #BDBDBD);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 3.1px;
}

.pictures {
  width: 100%;
  height: 100%;
}

#right1 {
  width: 100%;
  display: flex;
  gap: 32px;
  margin-top: 20px;
}

#pl1,
#pl5,
#pl6 {
  width: 299px;
  height: 299px;
}

#vase {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #C4C4C4;
}

#couch {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: #C4C4C4;
}

#bath {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #C4C4C4;
}

#lamp {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #C4C4C4;
}

#plant {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #C4C4C4;
}

#table {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #C4C4C4;
}

#pl2,
#pl3 {
  width: 629px;
  height: 299px;
}

#pl4 {
  width: 297px;
  height: 630px;
}

#right2 {
  width: 100%;
  display: flex;
  gap: 32px;
  margin-top: 20px;
}

#right3 {
  width: 100%;
  display: flex;
  gap: 32px;
  margin-top: -310px;
}

@media screen and (max-width: 450px) {
  #profile-picture {
    width: 102px;
    height: 102px;
  }

  #name {
    font-size: 14px;
  }

  #location {
    font-size: 10px;
  }

  #follow {
    gap: 13px;
  }

  #follow .row-items {
    width: 78px;
    height: 52px;
  }

  .number1,
  .followers {
    font-size: 12px;
  }

  #pl1,
  #pl5,
  #pl6 {
    width: 109px;
    height: 110px;
    flex-shrink: 0;
  }

  #pl2,
  #pl3 {
    width: 230px;
    height: 110px;
    flex-shrink: 0;
  }

  #pl4 {
    width: 109px;
    height: 231px;
    flex-shrink: 0;
  }

  #vase,
  #plant,
  #table,
  #couch,
  #bath {
    width: 100%;
    height: 100%;
  }

  #lamp {
    width: 100%;
    height: 100%;
  }

  #right1 {
    gap: 11.7px;
    margin-top: 39px;
    width: 100%;
  }

  #right2 {
    margin-top: 11.7px;
    gap: 11.7px;
  }

  #right3 {
    width: 100%;
    gap: 11.7px;
    margin-top: -110px;
  }
}